<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeArtistView()"></button>
        <h4 class="modal-title">Artist View</h4>
    </div>
    <div class="modal-body form">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Name </th>
                                    <th> Type </th>
                                    <th> Role Type </th>
                                    <th> Nationality </th>
                                    <th> Gender </th>
                                    <th> Keyword </th>
                                    <th> Search </th>
                                    <th> Status </th>
                                    <th> Reg Date </th>
                                    <th> Upd Date </th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td> 1 </td>
                                    <td> 2 </td>
                                    <td> 3 </td>
                                    <td> 4 </td>
                                    <td> 5 </td>
                                    <td> 6 </td>
                                    <td> 7 </td>
                                    <td> 8 </td>
                                    <td> 9 </td>
                                    <td> 10 </td>
                                    <td> 11 </td>
                                </tr>
                                <tr>
                                    <td> 1 </td>
                                    <td> 2 </td>
                                    <td> 3 </td>
                                    <td> 4 </td>
                                    <td> 5 </td>
                                    <td> 6 </td>
                                    <td> 7 </td>
                                    <td> 8 </td>
                                    <td> 9 </td>
                                    <td> 10 </td>
                                    <td> 11 </td>
                                </tr>
                                <tr>
                                    <td> 1 </td>
                                    <td> 2 </td>
                                    <td> 3 </td>
                                    <td> 4 </td>
                                    <td> 5 </td>
                                    <td> 6 </td>
                                    <td> 7 </td>
                                    <td> 8 </td>
                                    <td> 9 </td>
                                    <td> 10 </td>
                                    <td> 11 </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>




                    </div>
                </div>
                <!-- END PORTLET-->
            </div>

        </div>

    </div>
    <div class="modal-footer">

        <button type="button" ng-click="closeArtistView()" class="btn btn-default">Close</button>
        <button type="button" ng-click="selectArtistView()" class="btn sbold blue">Select</button>
    </div>
</div>
<script>
    var rows = $('tr').not(':first');

    /* Create 'click' event handler for rows */
    rows.on('click', function(e) {

        /* Get current row */
        var row = $(this);

        /* Check if 'Ctrl', 'cmd' or 'Shift' keyboard key was pressed
         * 'Ctrl' => is represented by 'e.ctrlKey' or 'e.metaKey'
         * 'Shift' => is represented by 'e.shiftKey' */
        if ((e.ctrlKey || e.metaKey) || e.shiftKey) {
            /* If pressed highlighttr the other row that was clicked */
            row.addClass('highlighttr');
        } else {
            /* Otherwise just highlighttr one row and clean others */
            rows.removeClass('highlighttr');
            row.addClass('highlighttr');
        }

    });
</script>

