<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="home" style="text-decoration: none!important;">
            <div style="text-align:center; font:bold 16px arial; color:white;" class="logo-default">
                CMS Application
            </div>
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->




    <!-- BEGIN PAGE TOP -->
    <div class="page-top">

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="separator hide"></li>

                <!--<li id="no-login" ng-click="openLogin()" class="dropdown dropdown-extended dropdown-inbox dropdown-dark">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">-->
                        <!--<i class="icon-login"></i>-->
                        <!--<span class="caption-subject bold" style="color: #9b3434;"> Login</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li id="is-login" class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"> {{username}} </span>
                        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                        <img alt="" class="img-circle" src="/images/logo/logo-icon.png" /> </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!--<li>-->
                            <!--<a href="#/profile">-->
                                <!--<i class="icon-user"></i> My Profile </a>-->
                        <!--</li>-->
                        <li>
                            <a ui-sref="changePassword" class="nav-link nav-toggle">
                                <i class="icon-user"></i>
                                <span class="title">Change Password</span>
                                <span class="arrow"></span>
                            </a>
                        </li>
                        <li ng-click="logout()">
                            <a href="" ng-click="logOutClick()">
                                <i class="icon-logout"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->

            </ul>


        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->