<div>
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeFormLogin()"></button>
                <h4 class="modal-title">Use Melon or LangitMusik Account for Login</h4>
            </div>
            <div class="modal-body form">
                <form action="#" class="form-horizontal form-row-seperated">
                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                <input type="text" class="form-control" placeholder="Email,PhoneNumber" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>

                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="closeFormLogin()" class="btn btn-default">Close</button>
                <button type="button" ng-click="login()" class="btn sbold red">Login</button>
            </div>
        </div>

