<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="heading">
            <h3>GENERAL</h3>
        </li>
        <li class="start nav-item">
            <a ui-sref="home">
                <i class="icon-home"></i>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'user' || roleType == 'superuser'">
            <a ui-sref="artist" class="nav-link nav-toggle">
                <i class="icon-microphone"></i>
                <span class="title">ARTIST</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'user' || roleType == 'superuser'">
            <a ui-sref="album" class="nav-link nav-toggle">
                <i class="fa fa-list-ul"></i>
                <span class="title">ALBUM</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'user' || roleType == 'superuser'">
            <a ui-sref="song" class="nav-link nav-toggle">
                <i class="icon-music-tone"></i>
                <span class="title">SONG</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'user' || roleType == 'superuser'">
            <a ui-sref="approve_song" class="nav-link nav-toggle">
                <i class="fa fa-filter"></i>
                <span class="title">SONG APPROVAL</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'admin' || roleType == 'superuser'">
            <a ui-sref="adminartist" class="nav-link nav-toggle">
                <i class="icon-microphone"></i>
                <span class="title">ADMIN ARTIST</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'admin' || roleType == 'superuser'">
            <a ui-sref="adminalbum" class="nav-link nav-toggle">
                <i class="fa fa-list-ul"></i>
                <span class="title">ADMIN ALBUM</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'admin' || roleType == 'superuser'">
            <a ui-sref="adminsong" class="nav-link nav-toggle">
                <i class="icon-music-tone"></i>
                <span class="title">ADMIN SONG</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'superuser'">
            <a ui-sref="label" class="nav-link nav-toggle">
                <i class="fa fa-user-md"></i>
                <span class="title">LABEL</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item" ng-show="roleType == 'superuser'">
            <a ui-sref="mlb" class="nav-link nav-toggle">
                <i class="fa fa-space-shuttle"></i>
                <span class="title">MLB CODE</span>
                <span class="arrow"></span>
            </a>
        </li>
        <!--<li class="nav-item" ng-hide="true">-->
        <!--<a ui-sref="chart" class="nav-link nav-toggle">-->
        <!--<i class="fa fa-line-chart"></i>-->
        <!--<span class="title">CHART</span>-->
        <!--<span class="arrow"></span>-->
        <!--</a>-->
        <!--</li>-->
        <li class="nav-item" ng-show="roleType == 'superuser'">
            <a ui-sref="users" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">USER MANAGEMENT</span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>