<div class="modal fade bs-example-modal-lg" id="albumModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>Album Form</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-xs-12 col-md-6" style="border-right:1px solid #bdc3c7">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album ID</b></label>
                                <div class="col-sm-9" >
                                    <input type="text" class="form-control" ng-model="$parent.albumId" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album Name</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.albumName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album Name Origin</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.albumNameOrigin">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album Type</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.albumType" ng-options="el.typeCd as el.typeName for el in dataAlbumType">
                                        <!--<option value="AT0009" selected="true">AT0009</option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Number of Songs</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="number" min="0" class="form-control" ng-model="$parent.seriesNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Disk No.</b></label>
                                <div class="col-sm-9">
                                    <input type="number" min="0" class="form-control" ng-model="$parent.diskNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Release Date</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="date" name="datepicker" class="form-control" ng-model="$parent.releaseDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Explicit</b></label>
                                <div class="col-sm-9">
                                    <label class="col-sm-6"><input type="radio" ng-model="$parent.adultYn" value="N"><b> Safe For All</b> </label>
                                    <label class="col-sm-6"><input type="radio" ng-model="$parent.adultYn" value="Y"><b> Adult Only</b></label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Domestic</b></label>
                                <div class="col-sm-9">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.domesticYn"
                                           ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Main Artist</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width: 80%;float:left" disabled="true" ng-model="$parent.artistName">
                                    <input ng-hide="true" ng-model="$parent.artistId">
                                    <button class="btn btn-primary" style="float:right" ng-click="showFormSearchArtist('1')">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Artist Album</b></label>
                                <div class="col-sm-7" style="padding-top: 7px">
                                    <table style="width:100%">
                                        <tr ng-repeat="el in AlbumArtistList">
                                            <td style="padding: 3px 7px;"> ></td>
                                            <td style="padding: 3px 7px;"> {{el.artistName}}</td>
                                            <td style="padding: 3px 7px;text-align: right">
                                                <a href="" ng-click="removeAlbumArtistList($index)">delete</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-2" style="padding-top: 7px">
                                    <button class="btn btn-primary" style="float:left;padding:4px" ng-click="showFormSearchArtist('2')">Add</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Genre</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.genre" ng-options="el.genreId as el.genreFullName for el in dataGenre">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Recording Label</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.sellCompany">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Unique Search Keyword</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.searchKeyword">
                                    <label style="font-size: 12px;color: blue;">Minimal 5 keyword (dengan pemisah ",") </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album Description</b></label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control" ng-model="$parent.albumDescription"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Main Song</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width: 80%;float:left" disabled="true" ng-model="$parent.songName">
                                    <input ng-hide="true" ng-model="$parent.showModalEdit">
                                    <button class="btn btn-primary" style="float:right" ng-click="showFormSearchSong()" ng-hide="true">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                            <label class="col-sm-3 control-label"><b>Image</b><b style="color:red"> **</b></label>
                            <div class="col-md-9" style="padding-left: 30px">
                                <div>
                                    <div style="margin-bottom: 20px;padding:0 10px">
                                        <img src="{{getImgUrl($parent.ulrImg)}}" alt="No Image" style="width:160px;height:160px;" ng-dblclick="showImage()">
                                    </div>
                                </div>
                                <div>
                                    <form class="form-inline">
                                        <form class="form-inline">
                                            <div class="form-group" ng-hide="lcStatusCdx == 'CS0006'">
                                                <label for="upload-photo" style="cursor: pointer;" class="btn btn-default">Browse...</label>
                                                <input type="file" file-model = "$parent.myFile" name="photo" id="upload-photo" style="opacity:0;position: absolute; z-index: -1;"
                                                       accept="image/x-png,image/gif,image/jpeg" />
                                                <button type="submit" class="btn btn-primary" ng-click = "uploadFile()">Upload</button>
                                                <button type="submit" class="btn btn-danger" ng-click="deleteImg()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                <button type="button" class="btn btn-primary" ng-click="saveAlbum()" >Save</button>
                <button type="button" class="btn btn-warning" ng-click="showModalSongs()" ng-show="isSongForm">Add Song</button>
                <!--<button type="button" class="btn btn-warning" ng-click="showModalSongs()">Add Song</button>-->

                </div>
            </div>
        </div>
    </div>
</div>