<div class="modal fade bs-example-modal-lg" id="artistModal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" id="headerModal">
            <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
            <h4 class="modal-title" id="exampleModalLabel"><b>Artist Form</b></h4>
        </div>
        <div class="modal-body">
            <div class="row" >
                <div class="col-xs-12 col-md-6" style="border-right:1px solid #bdc3c7">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Artist ID</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.artistId" disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Artist Name</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.artistName"
                                       ng-keyup="artistCollapse()"
                                       data-target="#demo">
                                <div id="demo" class="collapse">
                                    <ul class="list-group" >
                                        <li class="list-group-item"
                                            ng-repeat="el in dataCollapse"
                                            ng-dblclick="collapseClick(el.artistName)"
                                        >{{el.artistName}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Artist Name Origin</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.artistNameOrigin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Artist Type</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <!--<input type="text" class="form-control">-->
                                <label class="col-sm-4"><input type="radio" name="optradio" ng-model="artistType" value="single"><b> Solo</b></label>
                                <label class="col-sm-4"><input type="radio" name="optradio" ng-model="artistType" value="group"><b> Band</b> </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Artist Role</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="$parent.artistRole" ng-options="el.roleTypeCd as el.roleName for el in dataArtistRole">
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label"><b>Religion</b></label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<select class="form-control" ng-model="$parent.religion" ng-options="el.name as el.name for el in dataReligion">-->

                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Genre</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="$parent.genre" ng-options="el.genreId as el.genreFullName for el in dataGenre">

                                </select>
                                <!--<input type="text" class="form-control" ng-model="$parent.genre"
                            </div>>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Nationality</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <!--<select class="form-control"></select>-->
                                <!--<input type="text" class="form-control" ng-model="$parent.nationality" maxlength="6">-->
                                <select class="form-control" ng-model="$parent.nationality" ng-options="el.commonCd as el.commonCdName for el in dataNationality">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Birthday</b></label>
                            <div class="col-sm-9">
                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="date" name="datepicker" class="form-control" ng-model="$parent.birthday">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Deathday</b></label>
                            <div class="col-sm-9">
                                <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                    <input type="date" name="datepicker" class="form-control" ng-model="$parent.deathday">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Perform Year</b></label>
                            <div class="col-sm-9">
                                <div class="col-md-5" style="padding-left: 0"><input type="text" class=" form-control" ng-model="$parent.performYearFrom"></div>
                                <label class="col-md-2"><b>To</b></label>
                                <div class="col-md-5" style="padding-left: 0"><input type="text" class=" form-control" ng-model="$parent.performYearTo"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Gender</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <label class="col-sm-4"><input type="radio" ng-model="$parent.gender" value="M"><b> Male</b></label>
                                <label class="col-sm-4"><input type="radio" ng-model="$parent.gender" value="F"><b> Female</b> </label>
                                <label class="col-sm-4"><input type="radio" ng-model="$parent.gender" value="G"><b> Group</b> </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Homepage</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.homepage">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Twitter URL</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.twitterURL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Facebook URL</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.facebookURL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Unique Search Keyword</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="$parent.searchKeyword">
                                <label style="font-size: 12px;color: blue;">Minimal 5 keyword (dengan pemisah ",") </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><b>Profile</b><b style="color:red"> **</b></label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="$parent.profile"></textarea>
                                <label style="font-size: 12px;color: blue;">Biografi singkat</label>
                            </div>
                        </div>
                        <label class="col-sm-3 control-label"><b>Artist Image</b><b style="color:red"> **</b></label>
                        <div class="col-md-9" style="padding-left: 30px">
                            <div>
                                <div style="margin-bottom: 20px;padding:0 10px">
                                    <img src="{{getImgUrl($parent.ulrImg)}}" alt="No Image" style="width:160px;height:160px;" ng-dblclick="showImage()">
                                </div>
                            </div>
                            <div>
                                <form class="form-inline" >
                                    <div class="form-group" ng-hide="lcStatusCdx == 'CS0006'">
                                        <label for="upload-photo" style="cursor: pointer;" class="btn btn-default">Browse...</label>
                                        <input type="file" file-model = "$parent.myFile" name="photo" id="upload-photo" style="opacity:0;position: absolute; z-index: -1;"
                                               accept="image/x-png,image/gif,image/jpeg" />
                                        <button type="submit" class="btn btn-primary" ng-click = "uploadFile()">Upload</button>
                                        <button type="submit" class="btn btn-danger" ng-click="deleteImg()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!---->
                        <!---->
                        <!--<label class="col-sm-3 control-label"><b>Image</b></label>-->
                        <!--<div class="col-md-9">-->
                            <!--<div class="center-block text-center" style="width:200px">-->
                                <!--<div class="file-input"><div class="file-preview " style="border: 1px solid #bdc3c7;margin-bottom: 10px;padding-top: 10px;">-->
                                    <!--<div class="file-drop-disabled">-->
                                        <!--<div class="file-preview-thumbnails">-->
                                            <!--<div class="file-default-preview" style="margin-bottom: 10px;">-->
                                                <!--<img src="{{$parent.ulrImg}}" alt="Your Avatar" style="width:160px">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="clearfix"></div>    <div class="file-preview-status text-center text-success"></div>-->
                                        <!--<div class="kv-fileinput-error"></div>-->
                                    <!--</div>-->

                                <!--</div>-->
                                    <!--<button type="button" tabindex="500" title="Cancel or reset changes" class="btn btn-default fileinput-remove fileinput-remove-button">-->
                                        <!--<i class="glyphicon glyphicon-remove"></i>-->
                                    <!--</button>-->
                                    <!--<div tabindex="500" class="btn btn-primary btn-file">-->
                                        <!--<i class="glyphicon glyphicon-folder-open"></i>-->
                                        <!--<input id="avatar-1" name="avatar-1" type="file"-->
                                               <!--class="upload_s" file-model = "$parent.myFile" ng-model="xxxx">-->

                                    <!--</div>-->
                                    <!--<button ng-click = "uploadFile()">upload me</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" style="" ng-click="saveArtist()" ng-show="isEdit == false && roleTypes != 'admin'">Save</button>
        </div>
    </div>
    </div>
</div>
</div>