<div class="modal fade" tabindex="-1" role="dialog" id="encoderModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel">Search Album</h4>
            </div>
            <div class="modal-body">
                <!--<div class="row" style="padding:0 30px 20px 30px">-->
                    <!--<input type="text" class="form-control" style="float:left;width:85%" id="mdlAlbumSrcTxt" ng-keyup="getAlbumListSearch()"/>-->
                    <!--<button class="btn btn-primary" style="float:right">Search</button>-->
                <!--</div>-->
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Song ID</th>
                            <th>Codec Type</th>
                            <th>Bit Rate</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer;" ng-repeat="el in songModList">
                            <td>{{el.songId}}</td>
                            <td>{{el.typeName}}</td>
                            <td>{{el.bitRateCd}}</td>
                            <td>
                                <!--<div class="progress">-->
                                    <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">-->
                                        <!--70%-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<button class="btn btn-primary" ng-show="{{el.fullFilePath == ''}}" ng-click="encoder(el)">Encode</button>-->
                                <label ng-show="{{el.status == 'C'}}">Not Encode ...</label>
                                <label ng-show="{{el.status == 'W'}}">Waiting for encode...</label>
                                <button class="btn btn-primary" ng-show="false" ng-click="encoder(el)">Encode</button>
                                <button class="btn btn-warning" ng-hide="{{el.fullFilePath == ''}}" ng-click="playSong(el.fullFilePath)">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-danger" ng-hide="{{el.fullFilePath == ''}}" ng-click="audio.pause()">
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="encodeAll()" ng-show="showButtonAllSongMod">Encode All</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>