<div class="modal fade" tabindex="-1" role="dialog" id="imageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header" id="headerModal">-->
                <!--<a class="btn btn-default" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>-->
                <!--<h4 class="modal-title" id="exampleModalLabel">Search Album</h4>-->
            <!--</div>-->
            <div class="modal-body">
                <div>
                    <a class="btn btn-default" role="button" style="float:right;color: #242424" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <img src="{{getImgUrl($parent.ulrImg)}}" style="width:100%;" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>