<div class="modal fade bs-example-modal-md" id="labelModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>Label Form</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group" style="padding-left:10px">
                                <label class="col-sm-3 control-label"><b>Label Code</b></label>
                                <div class="col-sm-7" >
                                    <input type="text" class="form-control" ng-model="$parent.labelCode" ng-disabled="isDisable">
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                            <div class="form-group" style="padding-left:10px">
                                <label class="col-sm-3 control-label"><b>Label Name</b></label>
                                <div class="col-sm-7" >
                                    <input type="text" class="form-control" ng-model="$parent.labelName">
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                            <div class="form-group" style="padding-left:10px">
                                <label class="col-sm-3 control-label"><b>Initial</b></label>
                                <div class="col-sm-7" >
                                    <input type="text" class="form-control" ng-model="$parent.initialS">
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary" ng-click="pushMlbCode()">Add</button>-->
                        </form>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>
</div>