<div class="modal fade" tabindex="-1" role="dialog" id="loaderModal" style="z-index: 1000027 !important;">
    <div class="modal-dialog" role="document" style="text-align: center;padding-top: 50px;">
        <div class="loader">

        </div>
    </div>
</div>