<div class="modal fade bs-example-modal-lg" id="mlbCodeModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>MLB Code Form</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-md-12" ng-hide="isEdit">
                        <form class="form-inline">
                            <div class="form-group" style="padding-left:10px">
                                <label for="exampleInputName2" style="margin-right: 10px"><b>Label</b></label>
                                <select class="form-control" id="exampleInputName2" ng-model="$parent.mdlMlbCode" ng-options="el.labelName for el in dataMlbLabel">
                                </select>
                            </div>
                            <div class="form-group" style="padding-left:10px">
                                <label for="exampleInputEmail2" style="margin-right: 10px"><b>Jumlah</b></label>
                                <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Jumlah" ng-model="$parent.mdlJumlah">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="pushMlbCode()">Add</button>
                        </form>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label Code</th>
                                        <th>Label Name</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="el in listMlbCodes">
                                        <td>{{el.labelCode}}</td>
                                        <td>{{el.labelName}}</td>
                                        <td>{{el.jumlah}}</td>
                                        <td><button class="btn btn-danger" ng-click="delMlbCode($index)" ng-hide="isEdit">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="" ng-click="save()" ng-hide="isEdit">Save</button>
            </div>
        </div>
    </div>
</div>
</div>