<div class="modal fade" tabindex="-1" role="dialog" id="mlbSearchModal" style="z-index: 1000023 !important;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel">Search MLB</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:0 30px 20px 30px">
                    <!--<input type="text" class="form-control" style="float:left;width:85%" ng-model="$parent.mdlArtistSrcTxt" ng-keyup="getArtistListSearch()"/>-->
                    <!--<button class="btn btn-primary" style="float:right" ng-click="getArtistListSearch()">Search</button>-->
                    <div class="form-group">
                        <div class="col-sm-5">
                            <select type="text" class="form-control" id="srcMlb">
                                <option value="artistMlb" selected="selected">ArtistName</option>
                                <option value="songMlb" >Song Name</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" ng-model="$parent.searchValue" placeholder="Search Value"/>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary"  ng-click="getMlbCode()">Search</button>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>MLB Code</th>
                            <th>Song</th>
                            <th>Album</th>
                            <th>Artist</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="el in dataMlb" ng-dblclick="addMlbCode(el)" style="cursor: pointer;">
                            <td>{{el.musicCode}}</td>
                            <td>{{el.musicTitle}}</td>
                            <td>{{el.albumTitle}}</td>
                            <td>{{el.singerName}}</td>
                            <td><button class="btn btn-primary" style="padding:3px 4px" ng-click="addMlbCode(el)">Add</button> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin: 0px;;margin: 0px;float:left" at-list="filteredList" at-config="config" class="ng-scope">
                    <ul class="pagination" style="float:right;margin-top:0">
                        <li>
                            <a ng-click="getAwalPageMlb()" ng-class="{'not-active':pageMlb == 1}">First</a>
                        </li>
                        <li>
                            <a ng-click="getPrevPageMlb()" ng-class="{'not-active':pageMlb == 1}">‹</a>
                        </li>
                        <li>
                            <a style="pointer-events: none;cursor: default;">{{pageMlb}}/{{totalPageMlb}}</a>
                        </li>
                        <li>
                            <a ng-click="getNextPageMlb()" ng-class="{'not-active':pageMlb == totalPageMlb || totalPageMlb == '0'}">›</a>
                        </li>
                        <li>
                            <a ng-click="getAkhirPageMlb()" ng-class="{'not-active':pageMlb == totalPageMlb || totalPageMlb == '0'}">Last</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>