<div class="modal fade bs-example-modal-lg" id="songsAddModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>Songs</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="cols-md-12" style="padding-left: 20px;">
                        <label class="col-sm-2 control-label" style="float: left;"><b>Album Name </b></label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="$parent.albumAvailable" ng-change="getSongNotCompleted()"
                                    ng-options="el.albumName for el in dataAlbumSong">
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-info" ng-click="getSongNotCompleted()"><span class="glyphicon glyphicon-search" ></span></button>
                            <button class="btn btn-primary" style="float:right" ng-click="showModalSongsNew()">
                                <span class="glyphicon glyphicon-music" style="margin-right: 10px;"></span>New</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="cols-md-12" style="padding: 0 20px;border-top:1px solid #e7ecf1">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Song ID</th>
                                <th>Song Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in dataSongNotComplete">
                                <td>{{el.songId}}</td>
                                <td>{{el.songName}}</td>
                                <td>
                                    <a class="btn blue btn-outline btn-sm" href="" ng-click="showModalEdit(el)">
                                    <i class="fa fa-share"></i>
                                    <span class="hidden-xs"> Edit </span>
                                    </a>

                                    <button class="btn red btn-outline btn-sm" ng-click="showEncodeModal(el.songId)" >Encode</button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveSongAdd()" ng-show="isCommercial">Save</button>
            </div>
        </div>
    </div>
</div>