<div class="modal fade bs-example-modal-lg" id="songsModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>Songs Form</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-xs-12 col-md-6" style="border-right:1px solid #bdc3c7">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>CMS Song ID</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.songId" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Song Name</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.songName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Song Name Original</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.songNameOriginal">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Album ID</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width: 80%;float:left" disabled="true" ng-model="$parent.albumName">
                                    <input ng-hide="true" ng-model="$parent.albumId">
                                    <button class="btn btn-primary" style="float:right" ng-click="showFormSearchAlbum()">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Artist ID</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width: 80%;float:left" disabled="true" ng-model="$parent.artistNameSong">
                                    <input ng-hide="true" ng-model="$parent.artistIdSong">
                                    <button class="btn btn-primary" style="float:right" ng-click="showFormSearchArtist('0')">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>DCEH Code</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width: 80%;float:left" disabled="true" ng-model="$parent.mlb">
                                    <button class="btn btn-primary" style="float:right" ng-click="showModalMlb()">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Genre</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.genre" ng-options="el.genreId as el.genreFullName for el in dataGenre">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Issue Date</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                        <input type="date" name="datepicker" class="form-control" ng-model="$parent.issueDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Unique Search Keyword</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" ng-model="$parent.searchKeywordSong"></textarea>
                                    <label style="font-size: 12px;color: blue;">Minimal 5 keyword (dengan pemisah ",") </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Hit Song</b></label>
                                <div class="col-sm-3">
                                        <input type="checkbox" style="margin-top:10px" ng-model="$parent.hitSong"
                                               ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                                <label class="col-sm-3 control-label"><b>Adult Only</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.adultSong"
                                           ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Stream</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.stream"
                                           ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                                <label class="col-sm-3 control-label"><b>MP3 Download</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.mp3Download"
                                           ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Instrument</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.isInstrument"
                                           ng-true-value="'Y'" ng-false-value="'N'">
                                </div>
                                <label class="col-sm-3 control-label"><b>Main Song</b></label>
                                <div class="col-sm-3" data-toggle="tooltip" title="Ini akan jadi Lagu utama di Album Tersebut!">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.mainSongYn"
                                           ng-true-value="'Y'" ng-false-value="'N'" >

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Label</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.labelCdx" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Track No</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <input type="number" min="0" class="form-control" ng-model="$parent.trackNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Label Song Code (ISRC)</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" ng-model="$parent.grid">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="true">
                                <label class="col-sm-3 control-label"><b>Hint</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                        <input type="text" class="form-control input-sm" ng-model="$parent.hint">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Price</b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.nonDrmPrice" ng-options="el.id as el.price for el in drmPriceList">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Lyric (.txt)<b style="color:red"> **</b></b></label>
                                <div class="col-sm-9">
                                    <form class="form-inline">
                                        <div class="form-group" style="margin-left: 8px;">
                                            <label for="upload-lyric" style="cursor: pointer;" class="btn btn-default">Browse...</label>

                                            <input type="file" file-model = "$parent.myFile1" name="photo" id="upload-lyric" style="opacity:0;position: absolute; z-index: -2;"
                                                   accept=".txt"/>
                                            <button type="submit" class="btn btn-primary" ng-click = "uploadFileLyric()">Upload</button>
                                            <button type="submit" class="btn btn-danger">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <!--<button class="btn btn-primary" ng-click="showEncodeModal()">Encode</button>-->
                                        </div>
                                    </form>
                                    <div style="padding-left: 10px;margin-top: -10px;word-break: break-all;"><label>{{ulrLyric}}</label></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="text-align: right; padding-right: 20px;"><b>Audio WAV </b><b style="color:red"> **</b></label>
                                <div class="col-sm-9">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label for="upload-mp3" style="cursor: pointer;" class="btn btn-default">Browse...</label>
                                            <input type="file" file-model = "$parent.myFile" name="photo" id="upload-mp3"
                                                   style="opacity:0;position: absolute; z-index: -1;" accept=".wav"/>
                                            <button type="submit" class="btn btn-primary" ng-click = "uploadFileMp3()">Upload</button>
                                            <button type="submit" class="btn btn-danger">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>

                                        </div>
                                    </form>
                                    <div style="padding-left: 5px;word-break: break-all;"><label>{{ulrMp3}}</label></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveSong()">Save</button>
            </div>
        </div>
    </div>
</div>