<div class="modal fade" tabindex="-1" role="dialog" id="songSearchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel">Search Song</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding:0 30px 20px 30px">
                    <input type="text" class="form-control" style="float:left;width:85%" ng-model="$parent.mdlSongSrcTxt" ng-keyup="getSongListSearch()"/>
                    <button class="btn btn-primary" style="float:right" ng-click="getSongListSearch()">Search</button>
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Song ID</th>
                            <th>Song Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="el in dataSong" ng-dblclick="addSongId(el)" style="cursor: pointer;">
                            <td>{{el.songId}}</td>
                            <td>{{el.songName}}</td>
                            <td><button class="btn btn-primary" style="padding:3px 4px" ng-click="addSongId(el)">Add</button> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>