<div class="modal fade bs-example-modal-lg" id="songsAdminDetailModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>Song Detail</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-xs-12 col-md-6" style="border-right:1px solid #bdc3c7">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4"><b>Song ID</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.songId1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Song Name</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.songName1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Song Name Original</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.songNameOrigin1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Album Name</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.albumName1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Artist Name</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.artistName1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>MLB</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.mlbCd1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Genre</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.genreName1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Issue Date</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.issueDateStr1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4"><b>Unique Search Keyword</b></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="$parent.searchKeywordSong" disabled="true">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3"><b>Hit Song</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.hitSong1"
                                           ng-true-value="'Y'" ng-false-value="'N'" disabled="true">
                                </div>
                                <label class="col-sm-3"><b>Adult Song</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.adultYn1"
                                           ng-true-value="'Y'" ng-false-value="'N'" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Stream</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.sellStreamYn1"
                                           ng-true-value="'Y'" ng-false-value="'N'" disabled="true">
                                </div>
                                <label class="col-sm-3"><b>MP3 Download</b></label>
                                <div class="col-sm-3">
                                    <input type="checkbox" style="margin-top:10px" ng-model="$parent.sellNonDrmYn1"
                                           ng-true-value="'Y'" ng-false-value="'N'" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Label</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.labelName1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Track No</b></label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" ng-model="$parent.trackNo1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Grid</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.cp5Cd1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Hint</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.hint1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>DRM Price</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.nonDrmPrice1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Lyric (.txt)</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.lyricPath1" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3"><b>Audio MP3 (320kbps)</b></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-sm" ng-model="$parent.fullFilePath1" disabled="true">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" ng-click="showEncodeModal(songId1)">Media</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveSong()" ng-show="isCommercial && roleTypes != 'admin'">Save</button>
            </div>
        </div>
    </div>
</div>