<div class="modal fade bs-example-modal-lg" id="UserModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" id="headerModal">
                <a class="btn btn-default" href="" role="button" id="silang" data-dismiss="modal" aria-label="Close"><b>X</b></a>
                <h4 class="modal-title" id="exampleModalLabel"><b>User Form</b></h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-xs-12 col-md-12" style="border-right:1px solid #bdc3c7">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>User ID</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.userId" disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Username</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Password</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Fullname</b></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="$parent.fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Label</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.label" ng-options="el.labelCd as el.labelName for el in dataLabel">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><b>Role Type</b></label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="$parent.roleType" ng-options="el.id as el.name for el in roleTypeData">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="" ng-click="saveUser()" >Save</button>
            </div>
        </div>
    </div>
</div>
</div>