<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Add Song</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="SongController">
    <div class="portlet light tasks-widget">
        <div class="row">
    <div class="col-md-12">
    <div class="tabbable-line boxless tabbable-reversed" ng-init="tabSong=1">
        <ul class="nav nav-tabs">
            <li ng-class="{active: tabSong == 1}">
                <a ng-click="tabSong=1" dat-toggle="tab"> Information </a>
            </li>
            <li ng-class="{active: tabSong == 2}">
                <a ng-click="tabSong=2" data-toggle="tab"> Album </a>
            </li>
            <li ng-class="{active: tabSong == 3}">
                <a ng-click="tabSong=3" data-toggle="tab"> Artist </a>
            </li>
            <li disabled="true" ng-class="{active: tabSong == 4}">
                <a ng-click="tabSong=4" data-toggle="tab"> MOD </a>
            </li>
            <li disabled="true" ng-class="{active: tabSong == 5}">
                <a ng-click="tabSong=5" data-toggle="tab"> VOD </a>
            </li>
            <li disabled="true" ng-class="{active: tabSong == 6}">
                <a ng-click="tabSong=6" data-toggle="tab"> Lyric </a>
            </li>


        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tab_0" ng-class="{active: tabSong == 1}">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">Song Information </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#" class="form-horizontal">


                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Song Name</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Song Name Origin</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">MLB Code</label>
                                    <div class="col-md-4" style="display: table;">
                                        <input type="text" class="form-control input-medium">
                                        <span class="input-group-btn"><a ng-click="openSongView()" class="btn blue">
                                                            <i class="fa fa-search"></i> Add</a></span>&nbsp;
                                         <span class="input-group-btn"><button class="btn blue" type="button">Remove</button></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">GenID Code</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">CP 1 Code</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">CP 2 Code</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                <label class="col-md-3 control-label">CP 3 Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control">
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="col-md-3 control-label">CP 4 Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control">
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="col-md-3 control-label">CP 5 Code</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control">
                                </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hint</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Number Of Disk</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Track Number</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Song Type</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> Title
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="inlineCheckbox2" value="option2"> Hit
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Genre</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                            <option>Option 4</option>
                                            <option>Option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Issue Date</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker">
                                            <!--<span class="input-group-btn">-->
                                                                <!--<button class="btn default" type="button">-->
                                                                    <!--<i class="fa fa-calendar"></i>-->
                                                                <!--</button>-->
                                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Issue Date With Order</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker" style="float: left;">&nbsp;

                                            <input type="text" class="input-xsmall">
                                            <!--<span class="input-group-btn">-->
                                            <!--<button class="btn default" type="button">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                            <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sell Type</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="SellCheckbox1" value="option1"> Streaming
                                            <span></span>
                                        </label>
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="SellCheckbox2" value="option2"> Alacarte
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Payment Product Id for DRM</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Payment Product Id for Non-DRM</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Search Keywoard</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Adult</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="AdultCheckbox1" value="option1">
                                            <span></span>
                                        </label>


                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tab_1" ng-class="{active: tabSong == 2}">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">Album Information </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#" class="form-horizontal">


                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Album Name</label>
                                    <div class="col-md-4" style="display: table;">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn"><a ng-click="openAlbumView()" class="btn blue">
                                                            <i class="fa fa-search"></i> Select</a></span>&nbsp;
                                        <span class="input-group-btn"><button class="btn blue" type="button">Remove</button></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Album Name Origin</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hint</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Album Type</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Series No.</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Disk Count</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total Song Count</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Issue Date With Order</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker" style="float: left;">&nbsp;

                                            <input type="text" class="input-xsmall">
                                            <!--<span class="input-group-btn">-->
                                            <!--<button class="btn default" type="button">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                            <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Adult</label>
                                    <div class="mt-checkbox-inline">
                                        <label class="mt-checkbox">
                                            <input type="checkbox" id="AdultCheckbox2" value="option1">
                                            <span></span>
                                        </label>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Domestic</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option1" checked=""> Domestic
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="option2"> Foreign
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Issue Country</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Genre</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Agency</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sell Company</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Search Keywoard</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Review</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Reccomend Count</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Oppose Count</label>
                                    <div class="col-md-4">
                                        <input type="number" class="form-control input-small">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2" ng-class="{active: tabSong == 3}">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">Artist Information </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#" class="form-horizontal">


                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Artist Name</label>
                                    <div class="col-md-4" style="display: table;">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn"><a ng-click="openArtistView()" class="btn blue">
                                                            <i class="fa fa-search"></i> Select</a></span>&nbsp;
                                        <span class="input-group-btn"><button class="btn blue" type="button">Remove</button></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Artist Name Origin</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nick Name</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hint</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Group</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdGroup" value="option1" checked=""> Group
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdSingle" value="option2"> Single
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Artist Role</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Domestic</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdDomestic" value="option1" checked=""> Domestic
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdForeign" value="option2"> Foreign
                                            <span></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nationality</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Artist Genre</label>
                                    <div class="col-md-4">
                                        <select class="form-control input-medium">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Birth Day</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker">
                                            <!--<span class="input-group-btn">-->
                                            <!--<button class="btn default" type="button">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                            <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Death Day</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker">
                                            <!--<span class="input-group-btn">-->
                                            <!--<button class="btn default" type="button">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                            <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Debut Day</label>
                                    <div class="col-md-4">
                                        <div class="input-group date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="date" name="datepicker">
                                            <!--<span class="input-group-btn">-->
                                            <!--<button class="btn default" type="button">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                            <!--</button>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Debut Song</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Debut Years</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gender</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdMale" value="option1" checked=""> Male
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdFemale" value="option2"> Female
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios" id="rdMixed" value="option2"> Mixed
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Religion</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Hobby</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Priority</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Home Page</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Twitter Url</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Facebook Url</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Search Keywoard</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Profile</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3" ng-class="{active: tabSong == 4}">
            </div>
            <div class="tab-pane" id="tab_4" ng-class="{active: tabSong == 5}">
            </div>
            <div class="tab-pane" id="tab_5" ng-class="{active: tabSong == 6}">
            </div>


        </div>
    </div>
</div>
        </div>
    </div>
</div>