<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Admin Song </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="AdminSongController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active' : isCommercial == 1}" ><a href="" ng-click="tabClick(1)"><b>Non Commercial</b></a></li>
                        <li role="presentation" ng-class="{'active' : isCommercial == 0}"><a href="" ng-click="tabClick(0)"><b>Commercial</b></a></li>
                    </ul>
                </div>

                <!--<div class="btn-group">-->
                    <!--<a id="sample_editable_1_new" class="btn sbold red" ng-click="showModalSongs()" ng-show="isCommercial"> Add-->
                        <!--<i class="fa fa-plus"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Song List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <button class="btn blue btn-m" ng-click="approveBulk()"
                                ng-show="isCommercial == 1"
                                style="float:left;margin-left: 20px">
                            Approve
                        </button>
                        <form class="form-inline" id="search-form-a">
                            <div class="form-group">
                                <!--<select class="form-control input-inline input-small input-m" id="srcSelect">-->
                                    <!--<option value="song_name" selected="selected">Song Name</option>-->
                                    <!--<option value="song_id">Song ID</option>-->
                                    <!--<option value="label">Label Name</option>-->
                                <!--</select>-->
                                <select class="form-control input-inline input-small input-m"
                                        ng-model="categoryList" ng-options="el.id as el.name for el in listCategory" ng-change="changeCategory()">

                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-inline input-medium input-m" placeholder="Search" ng-show="isLabel == 0"
                                       ng-model="mdlSearch" ng-keyup="enterSearch($event)">
                                <!--<select class="form-control input-inline input-small input-m">-->
                                    <!--<option value="song_name" selected="selected">Song Name</option>-->
                                    <!--<option value="song_id">Song ID</option>-->
                                    <!--<option value="label">Label Name</option>-->
                                <!--</select>-->
                                <select class="form-control input-inline input-medium input-m" ng-model="mdlLabel" ng-show="isLabel == 1"
                                        ng-options="el.labelCd as el.labelName for el in dataLabel">

                                </select>
                            </div>
                            <button class="btn blue btn-m" ng-click="searchButton()">
                                <span class="glyphicon glyphicon-search" ></span>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead id="headerTable">
                            <tr>
                                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" ng-show="isCommercial == 1"/></th>
                                <th> Song ID </th>
                                <th> Prod Song ID </th>
                                <th> Song Name </th>
                                <th> Artist </th>
                                <th> Album </th>
                                <th> Title Song </th>
                                <th> Hit Song </th>
                                <th>Content Status</th>
                                <th> Label Name </th>
                                <th> Status </th>
                                <th> Reg Date </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in data | orderBy:'-lcStatusCd'">
                                <td><input type="checkbox" ng-model="el.Selected" ng-show="isCommercial == 1 && el.lcStatusCd == 'CS0002'"
                                           ng-click="checkItem(el,el.Selected)"/></td>
                                <td> {{el.songId}} </td>
                                <td> {{el.prodSongId}} </td>
                                <td> {{el.songName}} </td>
                                <td> {{el.artistName}} </td>
                                <td> {{el.albumName}} </td>
                                <td> {{el.titleSong}} </td>
                                <td ng-class="{'red':el.hitSong == 'No'}"> {{el.hitSong}} </td>
                                <td style="text-align: center">
                                    <span class="span-x" ng-style="{'background' : el.mod == 'Yes' ?'#cb2c2c' : '#a49a9a' }" >MOD</span>
                                    <span class="span-x" ng-style="{'background' : el.vod == 'Yes' ?'#aa9612' : '#a49a9a' }" >VOD</span>
                                    <span class="span-x" ng-style="{'background' : el.rt == 'Yes' ?'#2f48f2' : '#a49a9a' }" >RT</span>
                                    <span class="span-x" ng-style="{'background' : el.rbt == 'Yes' ?'#26c72a' : '#a49a9a' }" >RBT</span>
                                    <span class="span-x" ng-style="{'background' : el.textLyric == 'Yes' ?'#b4095a' : '#a49a9a' }" >LYRIC</span>
                                </td>
                                <td> {{el.labelName}} </td>
                                <td> {{el.status}} </td>
                                <td> {{el.regDateStr}} </td>
                                <td>
                                    <div style="text-align: center">
                                        <a class="btn blue btn-outline btn-sm" href="" style="margin-bottom: 5px;" ng-click="showModalEdit(el)">
                                            <i class="fa fa-share"></i>
                                            <span class="hidden-xs"> Detail </span>
                                        </a>
                                        <a class="btn red btn-outline btn-sm" href="" style="margin-bottom: 5px;" ng-click="ApproveSong(el.songId)" ng-show="isCommercial == 1 && el.lcStatusCd == 'CS0002'">
                                            <i class="fa fa-share"></i>
                                            <span class="hidden-xs"> Approve </span>
                                        </a>
                                        <a class="btn red btn-sm" href="" ng-click="DeleteSong(el.songId)" style="margin-bottom: 5px;" ng-show="prodSongId == null">
                                            <i class="fa fa-remove"></i>
                                            <span class="hidden-xs"> Delete </span>
                                        </a>
                                        <button class="btn red btn-outline btn-sm" style="margin-bottom: 5px;" ng-click="showEncodeModal(el.songId)" >Media</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin: 0px;;margin: 0px;" at-list="filteredList" at-config="config" class="ng-scope">
                            <ul class="pagination" style="float:right">
                                <li>
                                    <a ng-click="getAwalPage()" ng-class="{'not-active':page == 1}">First</a>
                                </li>
                                <li>
                                    <a ng-click="getPrevPage()" ng-class="{'not-active':page == 1}">‹</a>
                                </li>
                                <li>
                                    <a style="pointer-events: none;cursor: default;">{{page}}/{{totalPage}}</a>
                                </li>
                                <li>
                                    <a ng-click="getNextPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">›</a>
                                </li>
                                <li>
                                    <a ng-click="getAkhirPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

    </div>
    <div ng-include="'views/modal/song_admin_detail.html'"></div>
    <!--<div ng-include="'views/modal/album_search_modal.html'"></div>-->
    <!--<div ng-include="'views/modal/artist_search_modal.html'"></div>-->
    <div ng-include="'views/modal/encoder_modal.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->