<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Admin Album </li>
</ul>
<div ng-controller="AdminAlbumController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Album List</span>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active' : lcStatusCd == 'CS0001'}"><a href="" ng-click="tabClick('CS0001')"><b>Created</b></a></li>
                        <li role="presentation" ng-class="{'active' : lcStatusCd == 'CS0006'}" ><a href="" ng-click="tabClick('CS0006')"><b>Approved</b></a></li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <button class="btn blue btn-m" ng-click="approveBulk()"
                                ng-hide="isEdit"
                                style="float:left;margin-left: 20px">
                            Approve
                        </button>
                        <form class="form-inline" id="search-form-a">
                            <div class="form-group">
                                <select class="form-control" id="srcSelect">
                                    <option value="album_name" selected="selected">Album Name</option>
                                    <option value="album_id">Album ID</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" ng-model="mdlSearch">
                            </div>
                            <button class="btn btn-primary" ng-click="searchButton()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead id="headerTable">
                            <tr>
                                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" ng-hide="isEdit"/></th>
                                <th> Album ID </th>
                                <th> Album Name </th>
                                <th> Album Name Origin </th>
                                <th> Main Artist </th>
                                <th> Main Song </th>
                                <th> Label Name </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="el in data">
                                <td><input type="checkbox" ng-model="el.Selected" ng-hide="isEdit"
                                           ng-click="checkItem(el,el.Selected)"/></td>
                                <td> {{el.albumId}}</td>
                                <td> {{el.albumName}} </td>
                                <td> {{el.albumNameOrigin}} </td>
                                <td> {{el.artistName}} </td>
                                <td> {{el.songName}} </td>
                                <td> {{el.labelCd}} </td>
                                <td>
                                    <a class="btn blue btn-outline btn-sm" href="" ng-click="showModalAlbumEdit(el)"
                                       style="margin-bottom: 5px;" ng-show="el.lcStatusCd == 'CS0001'">
                                        <i class="fa fa-share"></i>
                                        <span class="hidden-xs"> Edit </span>
                                    </a>
                                    <a class="btn red btn-outline btn-sm" href="" ng-click="ApproveAlbum(el.albumId)" style="margin-bottom: 5px;" ng-show="el.lcStatusCd == 'CS0001'">
                                        <i class="fa fa-share"></i>
                                        <span class="hidden-xs"> Approve </span>
                                    </a>
                                    <a class="btn red btn-sm" href="" ng-click="DeleteAlbum(el.albumId)" style="margin-bottom: 5px;" ng-hide="el.lcStatusCd == 'CS0006'">
                                        <i class="fa fa-remove"></i>
                                        <span class="hidden-xs"> Delete </span>
                                    </a>
                                    <a class="btn blue btn-outline btn-sm" href="" ng-click="showModalAlbumEdit(el)" style="margin-bottom: 5px;" ng-show="el.lcStatusCd == 'CS0006'">
                                        <i class="fa fa-share"></i>
                                        <span class="hidden-xs"> Show </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin: 0px;;margin: 0px;" at-list="filteredList" at-config="config" class="ng-scope">
                            <ul class="pagination" style="float:right">
                                <li>
                                    <a ng-click="getAwalPage()" ng-class="{'not-active':page == 1}">First</a>
                                </li>
                                <li>
                                    <a ng-click="getPrevPage()" ng-class="{'not-active':page == 1}">‹</a>
                                </li>
                                <li>
                                    <a style="pointer-events: none;cursor: default;">{{page}}/{{totalPage}}</a>
                                </li>
                                <li>
                                    <a ng-click="getNextPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">›</a>
                                </li>
                                <li>
                                    <a ng-click="getAkhirPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>


    <div ng-include="'views/modal/album_modal_n.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>
    <div ng-include="'views/modal/image_modal.html'"></div>

    <!--<div ng-include="views/modal/artist_modal.html"></div>-->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->