<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Album </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="AlbumController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn sbold red" ng-click="showModalAlbum()"> Add
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Album List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <form class="form-inline" id="search-form-a">
                            <div class="form-group">
                                <select class="form-control" id="srcSelect">
                                    <option value="album_name" selected="selected">Album Name</option>
                                    <option value="album_id">Album ID</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" ng-model="mdlSearch">
                            </div>
                            <button class="btn btn-primary" ng-click="searchButton()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead id="headerTable">
                            <tr>
                                <th> Album ID </th>
                                <th> Album Name </th>
                                <th> Album Name Origin </th>
                                <th> Main Artist </th>
                                <th> Main Song </th>
                                <th> Album Type </th>
                                <th> Series No. </th>
                                <th> Disk No. </th>
                                <th> Release Date </th>
                                <th> Explicit </th>

                                <th> Genre </th>
                                <th> Label Name </th>
                                <th> Status </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="el in data">
                                <td> {{el.albumId}}</td>
                                <td> {{el.albumName}} </td>
                                <td> {{el.albumNameOrigin}} </td>
                                <td> {{el.mainArtistId}} </td>
                                <td> {{el.mainSongId}} </td>
                                <td> {{el.albumTypeCd}} </td>
                                <td> {{el.seriesNo}} </td>
                                <td> {{el.diskCnt}} </td>
                                <td> {{el.issueDate}} </td>
                                <td> {{el.albumId}} </td>

                                <td> {{el.genreId}} </td>
                                <td> {{el.labelName}} </td>
                                <td ng-style="{'color' : el.lcStatusCd == 'CS0001' ?'rgb(102, 95, 95)' : 'rgb(56, 116, 236)' }"> {{el.statusName}} </td>
                                <td>
                                    <a class="btn blue btn-outline btn-sm" href="" ng-click="showModalAlbumEdit(el)">
                                        <i class="fa fa-share"></i>
                                        <span class="hidden-xs"> Edit </span>
                                    </a>
                                    <!--<a class="btn blue btn-outline btn-sm" href="" ng-click="showModalAlbumEdit(el)" ng-show="el.lcStatusCd == 'CS0006'">-->
                                        <!--<i class="fa fa-share"></i>-->
                                        <!--<span class="hidden-xs"> Show </span>-->
                                    <!--</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin: 0px;;margin: 0px;" at-list="filteredList" at-config="config" class="ng-scope">
                            <ul class="pagination" style="float:right">
                                <li>
                                    <a ng-click="getAwalPage()" ng-class="{'not-active':page == 1}">First</a>
                                </li>
                                <li>
                                    <a ng-click="getPrevPage()" ng-class="{'not-active':page == 1}">‹</a>
                                </li>
                                <li>
                                    <a style="pointer-events: none;cursor: default;">{{page}}/{{totalPage}}</a>
                                </li>
                                <li>
                                    <a ng-click="getNextPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">›</a>
                                </li>
                                <li>
                                    <a ng-click="getAkhirPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div ng-include="'views/modal/album_modal.html'"></div>
    <div ng-include="'views/modal/artist_search_modal.html'"></div>
    <div ng-include="'views/modal/song_search_modal.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>
    <div ng-include="'views/modal/song_add_modal.html'"></div>
    <div ng-include="'views/modal/songs_modal.html'"></div>
    <div ng-include="'views/modal/encoder_modal.html'"></div>
    <div ng-include="'views/modal/image_modal.html'"></div>
    <div ng-include="'views/modal/mlb_search_modal.html'"></div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->