<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Change Password </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ChangePasswordController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="row">
                    <div class="col-md-5">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">User Id</label>
                                <label class="col-sm-9 control-label" style="text-align:left">{{userlist.id}}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">User Name</label>
                                <label class="col-sm-9 control-label" style="text-align:left">{{userlist.userName}}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Full Name</label>
                                <label class="col-sm-9 control-label" style="text-align:left">{{userlist.fullName}}</label>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label" >Old Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword3" ng-model="oldPass" placeholder="Old Password" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">New Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword4" ng-model="newPass" placeholder="New Password" maxlength="8" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9" >
                                    <div class="checkbox" style="float: right">
                                        <label>
                                            <input type="checkbox" ng-click="chkClick()"> Show Password
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary" style="float: right;" ng-click="save()">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7">
                    </div>

                </div>
            <!-- END PORTLET-->
        </div>

    </div>

    <div ng-include="'views/modal/encoder_modal.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>

</div>
<script>

</script>