<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Chart </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ChartController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn sbold red" ui-sref="add_song" > Add
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Daily Chart</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> Previous Ranking </th>
                                <th> Date </th>
                                <th> Song ID </th>
                                <th> Song </th>
                                <th> Artist </th>
                                <th> Album </th>
                                <th> MOD </th>
                                <th> VOD </th>
                                <th> SLF Lyric </th>
                                <th> Text Lyric </th>
                                <th> Status </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> 2 </td>
                                <td> 3 </td>
                                <td> 4 </td>
                                <td> 5 </td>
                                <td> 6 </td>
                                <td> 7 </td>
                                <td> 8 </td>
                                <td> 9 </td>
                                <td> 10 </td>
                                <td> 11 </td>
                            </tr>
                            <tr>
                                <td> 1 </td>
                                <td> 2 </td>
                                <td> 3 </td>
                                <td> 4 </td>
                                <td> 5 </td>
                                <td> 6 </td>
                                <td> 7 </td>
                                <td> 8 </td>
                                <td> 9 </td>
                                <td> 10 </td>
                                <td> 11 </td>
                            </tr>
                            <tr>
                                <td> 1 </td>
                                <td> 2 </td>
                                <td> 3 </td>
                                <td> 4 </td>
                                <td> 5 </td>
                                <td> 6 </td>
                                <td> 7 </td>
                                <td> 8 </td>
                                <td> 9 </td>
                                <td> 10 </td>
                                <td> 11 </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>




                </div>
            </div>
            <!-- END PORTLET-->
        </div>

    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->