<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> CATEGORY </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="CategoryController">

    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="btn-group">
                    <a id="btn-class-add" class="btn sbold red" ui-sref="add_song" > Add
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Class List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> Class Name </th>
                                <th> Status </th>
                                <th> Upd Date </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Indonesia</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Barat</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Musik Asia</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Korea</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>




                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="btn-group">
                    <a id="btn-genre-add" class="btn sbold red" ui-sref="add_song" > Add
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Genre List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> Genre Name </th>
                                <th> Status </th>
                                <th> Upd Date </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Indonesia</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Barat</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Musik Asia</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            <tr>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-song_name " style="width: 125px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-song_name">Korea</div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-lc_status_cd " style="width: 71px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-lc_status_cd"><span style="color:green">Active</span></div></td>
                                <td class="x-grid3-col x-grid3-cell x-grid3-td-upd_date x-grid3-cell-last " style="width: 103px;"><div unselectable="on" class="x-grid3-cell-inner x-grid3-col-upd_date">21/06/2017 14:13:04</div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>




                </div>
            </div>
            <!-- END PORTLET-->
        </div>

    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->