<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Label </li>
</ul>
<div ng-controller="LabelController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn sbold red" ui-sref="add_song" ng-click="showModalLabel()"> Add
                        <i class="fa fa-plus"></i>
                    </a>

                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Artist List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <form class="form-inline" id="search-form-a">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search by Label Name" ng-model="Mdlsearch">
                            </div>
                            <button class="btn btn-primary" ng-click="searchButton()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead id="headerTable">
                            <tr>
                                <th> Label Code </th>
                                <th> Label Name</th>
                                <th> Initial </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in data">
                                <td> {{el.labelCode}} </td>
                                <td> {{el.labelName}} </td>
                                <td> {{el.initial}} </td>
                                <td>
                                    <a class="btn blue btn-outline btn-sm" href="" ng-click="showDetail(el)">
                                        <i class="fa fa-share"></i>
                                        <span class="hidden-xs"> Edit</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin: 0px;;margin: 0px;" at-list="filteredList" at-config="config" class="ng-scope">
                            <ul class="pagination" style="float:right">
                                <li>
                                    <a ng-click="getAwalPage()" ng-class="{'not-active':page == 1}">First</a>
                                </li>
                                <li>
                                    <a ng-click="getPrevPage()" ng-class="{'not-active':page == 1}">‹</a>
                                </li>
                                <li>
                                    <a style="pointer-events: none;cursor: default;">{{page}}/{{totalPage}}</a>
                                </li>
                                <li>
                                    <a ng-click="getNextPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">›</a>
                                </li>
                                <li>
                                    <a ng-click="getAkhirPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>


    <div ng-include="'views/modal/label_modal.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>
    <div ng-include="'views/modal/image_modal.html'"></div>

    <!--<div ng-include="views/modal/artist_modal.html"></div>-->

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->