<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
    </li>
    <li class="active"> Song </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="SongController">

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-class="{'active' : isCommercial == 1}" ><a href="" ng-click="tabClick(1)"><b>Created</b></a></li>
                        <li role="presentation" ng-class="{'active' : isCommercial == 0}"><a href="" ng-click="tabClick(0)"><b>Live</b></a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn sbold red" ng-click="showModalSongsNew()" ng-show="isCommercial"> Add
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject font-blue-madison bold uppercase">Song List</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <form class="form-inline" id="search-form-a">
                            <div class="form-group">
                                <select class="form-control input-inline input-small input-m" id="srcSelect">
                                    <option value="song_name" selected="selected">Song Name</option>
                                    <option value="song_id">Song ID</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-inline input-medium input-m" placeholder="Search" ng-model="mdlSearch" ng-keyup="enterSearch($event)">
                            </div>
                            <button class="btn blue btn-m">
                                <span class="glyphicon glyphicon-search" ng-click="searchButton()"></span>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead id="headerTable">
                            <tr>
                                <th> CMS ID </th>
                                <th> Song ID </th>
                                <th> Song Name </th>
                                <th> Artist </th>
                                <th> Album </th>
                                <th> Title Song </th>
                                <th> Hit Song </th>
                                <th>Content Status</th>
                                <!--<th> MOD </th>-->
                                <!--<th> VOD </th>-->
                                <!--<th> RT </th>-->
                                <!--<th> RBT </th>-->
                                <!--<th> Text Lyric </th>-->
                                <th> Issue Date </th>
                                <th> Status </th>
                                <th> Reg Date </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in data">
                                <td> {{el.songId}} </td>
                                <td> {{el.prodSongId}} </td>
                                <td> {{el.songName}} </td>
                                <td> {{el.artistName}} </td>
                                <td> {{el.albumName}} </td>
                                <td> {{el.titleSong}} </td>
                                <td ng-class="{'red':el.hitSong == 'No'}"> {{el.hitSong}} </td>
                                <td style="text-align: center">
                                    <span class="span-x" ng-style="{'background' : el.mod == 'Yes' ?'#cb2c2c' : '#a49a9a' }" >MOD</span>
                                    <span class="span-x" ng-style="{'background' : el.vod == 'Yes' ?'#aa9612' : '#a49a9a' }" >VOD</span>
                                    <span class="span-x" ng-style="{'background' : el.rt == 'Yes' ?'#2f48f2' : '#a49a9a' }" >RT</span>
                                    <span class="span-x" ng-style="{'background' : el.rbt == 'Yes' ?'#26c72a' : '#a49a9a' }" >RBT</span>
                                    <span class="span-x" ng-style="{'background' : el.textLyric == 'Yes' ?'#b4095a' : '#a49a9a' }" >LYRIC</span>
                                </td>
                                <!--<td ng-class="{'red':el.mod == 'No'}"> {{el.mod}} </td>-->
                                <!--<td ng-class="{'red':el.vod == 'No'}"> {{el.vod}} </td>-->
                                <!--<td ng-class="{'red':el.rt == 'No'}"> {{el.rt}} </td>-->
                                <!--<td ng-class="{'red':el.rbt == 'No'}"> {{el.rbt}} </td>-->
                                <!--<td ng-class="{'red':el.textLyric == 'No'}"> {{el.textLyric}} </td>-->
                                <td> {{el.issueDateStr}} </td>
                                <td> {{el.status}} </td>
                                <td> {{el.regDateStr}} </td>
                                <td>
                                    <div style="text-align: center">
                                        <a class="btn blue btn-outline btn-sm" href="" ng-click="showModalEdit(el)">
                                            <i class="fa fa-share"></i>
                                            <span class="hidden-xs"> Edit </span>
                                        </a>
                                        <!--<button class="btn red btn-outline btn-sm" ng-click="showEncodeModal(el.songId)" ng-hide="{{el.fullFilePath == '' || el.fullFilePath == null}}">Encode</button>-->
                                        <button class="btn red btn-outline btn-sm" ng-click="showEncodeModal(el.songId)" >Encode</button>
                                        <!--<button class="btn red btn-outline btn-sm" ng-click="loadingStart()" ng-hide="{{el.fullFilePath == '' || el.fullFilePath == null}}">Encode</button>-->
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin: 0px;;margin: 0px;" at-list="filteredList" at-config="config" class="ng-scope">
                            <ul class="pagination" style="float:right">
                                <li>
                                    <a ng-click="getAwalPage()" ng-class="{'not-active':page == 1}">First</a>
                                </li>
                                <li>
                                    <a ng-click="getPrevPage()" ng-class="{'not-active':page == 1}">‹</a>
                                </li>
                                <li>
                                    <a style="pointer-events: none;cursor: default;">{{page}}/{{totalPage}}</a>
                                </li>
                                <li>
                                    <a ng-click="getNextPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">›</a>
                                </li>
                                <li>
                                    <a ng-click="getAkhirPage()" ng-class="{'not-active':page == totalPage || totalPage == '0'}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

    </div>

    <div ng-include="'views/modal/song_add_modal.html'"></div>
    <div ng-include="'views/modal/artist_search_modal.html'"></div>
    <div ng-include="'views/modal/songs_modal.html'"></div>
    <div ng-include="'views/modal/mlb_search_modal.html'"></div>
    <div ng-include="'views/modal/album_search_modal.html'"></div>

    <div ng-include="'views/modal/encoder_modal.html'"></div>
    <div ng-include="'views/modal/loader_modal.html'"></div>

</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->