<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">CMS</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Home </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="HomeController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number"><b>{{data.totalArtist | number:0}}</b></div>
                    <div class="desc"> ARTIST </div>
                </div>
                <!--<a class="more" href="#"> View more-->
                    <!--<i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"><b>{{data.totalArtist | number:0}}</b></div>
                    <div class="desc"> ALBUM </div>
                </div>
                <!--<a class="more" href="#"> View more-->
                    <!--<i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number"><b>{{data.totalSong | number:0}}</b></div>
                    <div class="desc"> Song </div>
                </div>
                <!--<a class="more" href="#"> View more-->
                    <!--<i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            </div>
        </div>
        <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-image: url('css/role_map.jpg')">-->
            <!--<div class="dashboard-stat purple">-->
                <!--<div class="visual">-->
                    <!--<i class="fa fa-globe"></i>-->
                <!--</div>-->
                <!--<div class="details">-->
                    <!--<div class="number"> +89% </div>-->
                    <!--<div class="desc"> Brand Popularity </div>-->
                <!--</div>-->
                <!--<a class="more" href="#"> View more-->
                    <!--<i class="m-icon-swapright m-icon-white"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="row" >
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <img src="css/role_map.jpg" alt="No Image" style="width:100%;height:350px;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <!--<div class="row">-->
        <!--<div class="col-md-12 col-sm-12">-->
            <!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
            <!--<div class="portlet light bordered ">-->
                <!--<div class="portlet-title">-->
                    <!--<div class="caption caption-md">-->
                        <!--<i class="icon-settings font-green"></i>-->
                        <!--<span class="caption-subject font-green bold uppercase">Sales Summary</span>-->
                        <!--<span class="caption-helper hide">weekly stats...</span>-->
                    <!--</div>-->
                    <!--<div class="actions">-->
                        <!--&lt;!&ndash;<div class="btn-group btn-group-devided" data-toggle="buttons">&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="btn dark btn-outline btn-circle btn-sm active">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="options" class="toggle" id="option1">Today</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="btn dark btn-outline btn-circle btn-sm">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="options" class="toggle" id="option2">Week</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="btn dark btn-outline btn-circle btn-sm">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="options" class="toggle" id="option2">Month</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="portlet-body">-->
                    <!--<div class="row list-separated">-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Artist </div>-->
                            <!--<div class="uppercase font-hg font-red-flamingo"> 78-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Album </div>-->
                            <!--<div class="uppercase font-hg font-green"> 101-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
                            <!--<div class="font-grey-mint font-sm"> Song </div>-->
                            <!--<div class="uppercase font-hg font-purple"> 215-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<ul class="list-separated list-inline-xs hide">-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Total Sales </div>-->
                            <!--<div class="uppercase font-hg font-red-flamingo"> 13760-->
                                <!--<span class="font-lg font-grey-mint">$</span>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li> </li>-->
                        <!--<li class="border">-->
                            <!--<div class="font-grey-mint font-sm"> Revenue </div>-->
                            <!--<div class="uppercase font-hg font-green"> 4760-->
                                <!--<span class="font-lg font-grey-mint">$</span>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="divider"> </li>-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Expenses </div>-->
                            <!--<div class="uppercase font-hg font-purple"> 1760-->
                                <!--<span class="font-lg font-grey-mint">$</span>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="divider"> </li>-->
                        <!--<li>-->
                            <!--<div class="font-grey-mint font-sm"> Growth </div>-->
                            <!--<div class="uppercase font-hg font-blue"> 9760-->
                                <!--<span class="font-lg font-grey-mint">$</span>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px"> </div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-md-6 col-sm-12">-->
            <!--&lt;!&ndash; BEGIN PORTLET&ndash;&gt;-->
            <!--<div class="portlet light bordered ">-->
                <!--<div class="portlet-title">-->
                    <!--<div class="caption caption-md">-->
                        <!--<i class="icon-bar-chart font-red"></i>-->
                        <!--<span class="caption-subject font-red bold uppercase">Member Activity</span>-->
                        <!--<span class="caption-helper hide">weekly stats...</span>-->
                    <!--</div>-->
                    <!--<div class="actions">-->
                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">-->
                            <!--<label class="btn green btn-outline btn-circle btn-sm active">-->
                                <!--<input type="radio" name="options" class="toggle" id="option1">Today</label>-->
                            <!--<label class="btn red btn-outline btn-circle btn-sm">-->
                                <!--<input type="radio" name="options" class="toggle" id="option2">Week</label>-->
                            <!--<label class="btn blue btn-outline btn-circle btn-sm">-->
                                <!--<input type="radio" name="options" class="toggle" id="option2">Month</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="portlet-body">-->
                    <!--<div class="row number-stats margin-bottom-30">-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
                            <!--<div class="stat-left">-->
                                <!--<div class="stat-chart">-->
                                    <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
                                    <!--<div id="sparkline_bar"></div>-->
                                <!--</div>-->
                                <!--<div class="stat-number">-->
                                    <!--<div class="title"> Total </div>-->
                                    <!--<div class="number"> 2460 </div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
                            <!--<div class="stat-right">-->
                                <!--<div class="stat-chart">-->
                                    <!--&lt;!&ndash; do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break &ndash;&gt;-->
                                    <!--<div id="sparkline_bar2"></div>-->
                                <!--</div>-->
                                <!--<div class="stat-number">-->
                                    <!--<div class="title"> New </div>-->
                                    <!--<div class="number"> 719 </div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="table-scrollable table-scrollable-borderless">-->
                        <!--<table class="table table-hover table-light">-->
                            <!--<thead>-->
                            <!--<tr class="uppercase">-->
                                <!--<th colspan="2"> MEMBER </th>-->
                                <!--<th> Earnings </th>-->
                                <!--<th> CASES </th>-->
                                <!--<th> CLOSED </th>-->
                                <!--<th> RATE </th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tr>-->
                                <!--<td class="fit">-->
                                    <!--<img class="user-pic rounded" src="../assets/pages/media/users/avatar4.jpg"> </td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="primary-link">Brain</a>-->
                                <!--</td>-->
                                <!--<td> $345 </td>-->
                                <!--<td> 45 </td>-->
                                <!--<td> 124 </td>-->
                                <!--<td>-->
                                    <!--<span class="bold font-green">80%</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="fit">-->
                                    <!--<img class="user-pic rounded" src="../assets/pages/media/users/avatar5.jpg"> </td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="primary-link">Nick</a>-->
                                <!--</td>-->
                                <!--<td> $560 </td>-->
                                <!--<td> 12 </td>-->
                                <!--<td> 24 </td>-->
                                <!--<td>-->
                                    <!--<span class="bold font-green">67%</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="fit">-->
                                    <!--<img class="user-pic rounded" src="../assets/pages/media/users/avatar6.jpg"> </td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="primary-link">Tim</a>-->
                                <!--</td>-->
                                <!--<td> $1,345 </td>-->
                                <!--<td> 450 </td>-->
                                <!--<td> 46 </td>-->
                                <!--<td>-->
                                    <!--<span class="bold font-green">98%</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td class="fit">-->
                                    <!--<img class="user-pic rounded" src="../assets/pages/media/users/avatar7.jpg"> </td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="primary-link">Tom</a>-->
                                <!--</td>-->
                                <!--<td> $645 </td>-->
                                <!--<td> 50 </td>-->
                                <!--<td> 89 </td>-->
                                <!--<td>-->
                                    <!--<span class="bold font-green">58%</span>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END PORTLET&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
</script>
<!-- BEGIN MAIN JS & CSS -->