<div class="row">
    <div class="col-md-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-pencil"></i>
            </div>
            <div class="details">
                <div class="number"> Add lyrics </div>
                <div class="desc"> Help build the world's biggest lyrics catalog </div>
            </div>
            <!--<a class="more" href="#"> View more-->
            <!--<i class="m-icon-swapright m-icon-white"></i>-->
            <!--</a>-->
        </div>
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">SUGGESTED LYRICS TO ADD</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="portlet light tasks-widget">

                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">


                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                        <a id="sample_editable_1_new" class="btn sbold red pull-right" href="#/add_lyrics" > ADD LYRICS
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold red pull-right" href="#/add_lyrics" > ADD LYRICS
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold red pull-right" href="#/add_lyrics" > ADD LYRICS
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold red pull-right" href="#/add_lyrics" > ADD LYRICS
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold red pull-right" href="#/add_lyrics" > ADD LYRICS
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>


                                </table>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">NEW RELEASES WITHOUT LYRICS</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="portlet light tasks-widget">
                        <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="">
                                <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                <div style="margin-bottom: 10px;">
                                    <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                    <span class="profile-desc-text"> Anji </span>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN MAIN JS-->
<script>



</script>
<!-- BEGIN MAIN JS -->