<div class="row">
    <div class="col-md-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="details">
                <div class="number"> Review lyrics </div>
                <div class="desc"> Review the latest lyrics edited by the community </div>
            </div>
            <!--<a class="more" href="#"> View more-->
            <!--<i class="m-icon-swapright m-icon-white"></i>-->
            <!--</a>-->
        </div>
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">LATEST EDITS</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="portlet light tasks-widget">

                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">


                                    <tr>
                                    <td class="fit">
                                        <img class="song-pic" src="/images/logo/logo-icon.png">
                                    </td>
                                    <td style="display: grid;">
                                        <a href="javascript:;" class="primary-link">Dia</a>
                                        <a href="javascript:;" class="primary-link">ANJI</a>
                                    </td>
                                    <td>
                                        <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </td>
                                </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                        <td>
                                            <a id="sample_editable_1_new" class="btn sbold green pull-right" href="#/review_lyrics" > REVIEW LYRICS
                                                <i class="fa fa-check"></i>
                                            </a>
                                        </td>
                                    </tr>




                                </table>
                            </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- BEGIN MAIN JS-->
<script>



</script>
<!-- BEGIN MAIN JS -->