<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">MeLyX</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> ADD Lyrics </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="NewLyricController">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light tasks-widget">
    <table class="table table-light">
    <tr>
        <td class="fit">
            <img class="song-pic" src="/images/logo/logo-icon.png">
        </td>
        <td style="display: grid;">
            <a href="javascript:;" class="primary-link">Dia</a>
            <a href="javascript:;" class="primary-link">ANJI</a>
        </td>


    </tr>
    </table>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="form-group">
                        <textarea id="lyrics_textarea" style="overflow: hidden; height: 800px!important;" class="form-control ta_lyrics" placeholder="Type the lyrics here…"></textarea>


                    </div>
                    <div class="row" style="text-align: center;">

                            <button type="submit" class="btn btn-circle green">
                                <i class="fa fa-check"></i> Submit</button>
                            <button type="button" class="btn btn-circle default">
                                <i class="fa fa-close"></i> Cancel</button>

                    </div>

                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-md-4 col-sm-8">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">

                    <div class="lyrics-guidelines">
                        <ul style="list-style-type: none;">
                            <li class="guidelines-head">writing guidelines</li>
                            <li>Comments like "intro", "verse", "bridge", "chorus", "outro", "spoken", etc should be replaced with an empty row</li>
                            <li>Comments like "repeat 2 times", "repeat chorus or verse", etc should be removed and the part of the lyrics involved should be repeated accordingly</li>
                            <li>All not spoken part like "Ohh", "Ahaaha", "NaNaNa", etc should be kept only if essential part of the lyrics</li>
                            <li class="reset-border">The names of performers inside the lyrics should be avoided/removed, even when indicating a specific portion sung by the artist</li>
                            <li class="guidelines-head">writing style</li>
                            <li>Please remember to take care of fixing uncorrected accented characters/words</li>
                            <li class="reset-border">Proper names (of persons, places, or certain special things) should be capitalized</li>
                            <li class="guidelines-head">punctuation</li><li>Do not use *** or ===, ---</li>
                            <li class="reset-border">Take care of the Basic Rules of Punctuation</li>
                            <li class="guidelines-head">finally</li>
                            <li class="reset-border">Enjoy the lyrics and vote for the lyrics added by other users</li>
                        </ul>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->