<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">MeLyX</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Add New Lyrics </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="NewLyricController">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-sidebar">
            <div class="portlet light">

                <div class="profile-usertitle" style="display: flex;">
                    <div>
                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;">
                    </div>
                    <div style="padding-left: 10px;">
                        <div class="profile-usertitle-name" style="text-align: left;"> Nick </div>
                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 0 points </div>
                    </div>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('new_lyrics.add')}" class="active">
                            <a ui-sref="new_lyrics.add" href="#/new_lyrics/add">
                                <i class="icon-pencil"></i> ADD LYRICS </a>
                        </li>
                        <li ng-class="{active: $state.includes('new_lyrics.review')}" class="">
                            <a ui-sref="new_lyrics.review" href="#/new_lyrics/review">
                                <i class="icon-check"></i> REVIEW LYRICS </a>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="portlet light">
                    <h4 class="profile-desc-title">USERS LEADERBOARD</h4>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="">
                                <div class="profile-usertitle" style="display: flex;">
                                    <div>
                                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;width: 90%;">
                                    </div>
                                    <div style="padding-left: 10px;">
                                        <div class="profile-usertitle-name" style="text-align: left;"> Jordan </div>
                                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 1000 points </div>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="profile-usertitle" style="display: flex;">
                                    <div>
                                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;width: 90%;">
                                    </div>
                                    <div style="padding-left: 10px;">
                                        <div class="profile-usertitle-name" style="text-align: left;"> Riko </div>
                                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 999 points </div>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="profile-usertitle" style="display: flex;">
                                    <div>
                                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;width: 90%;">
                                    </div>
                                    <div style="padding-left: 10px;">
                                        <div class="profile-usertitle-name" style="text-align: left;"> Okta </div>
                                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 900 points </div>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="profile-usertitle" style="display: flex;">
                                    <div>
                                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;width: 90%;">
                                    </div>
                                    <div style="padding-left: 10px;">
                                        <div class="profile-usertitle-name" style="text-align: left;"> Rio </div>
                                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 800 points </div>
                                    </div>
                                </div>
                            </li>
                            <li class="">
                                <div class="profile-usertitle" style="display: flex;">
                                    <div>
                                        <img class="img-circle" src="/images/logo/logo-icon.png" alt="" style="text-align: left;width: 90%;">
                                    </div>
                                    <div style="padding-left: 10px;">
                                        <div class="profile-usertitle-name" style="text-align: left;"> Tom </div>
                                        <div class="profile-usertitle-job" style="text-align: left;text-transform: none;"> 700 points </div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

            <div ui-view class="profile-content fade-in-up"> </div>
        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->