<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">MeLyX</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> REVIEW LYRICS </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="NewLyricController">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light tasks-widget">
    <table class="table table-light">
    <tr>
        <td class="fit">
            <img class="song-pic" src="/images/logo/logo-icon.png">
        </td>
        <td style="display: grid;">
            <a href="javascript:;" class="primary-link">Dia</a>
            <a href="javascript:;" class="primary-link">ANJI</a>
        </td>


    </tr>
    </table>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">OKTA submitted the lyrics for this song. Are the lyrics correct?</span>
                        </div>

                    </div>
                    <div class="row" style="text-align: center;">

                        <button type="submit" class="btn btn-circle green"> YES </button>
                        <button type="button" class="btn btn-circle red"> NO </button>

                    </div>
                    <br>
                    <div class="form-group">

                        <pre>
                            Disuatu hari tanpa sengaja
                            Kita bertemu
                            Aku yang pernah terluka
                            Kembali mengenal cinta

                            Hati ini kembali temukan
                            Senyum yang hilang
                            Semua itu karena DIA

                            OH TUHAN
                            Ku cinta DIA
                            Ku sayang DIA
                            Rindu DIA
                            Inginkan DIA

                            Utuhkanlah
                            Rasa cinta dihatiku
                            Hanya padanya
                            Untuk DIA

                            (Syu dum du du dum dum)

                            Jauh waktu berjalan
                            Kita lalui bersama
                            Betapa di setiap hari
                            Ku jatuh cinta padanya
                            Dicintai oleh DIA
                            Kumerasa sempurna
                            Semua itu karena DIA

                            OH TUHAN
                            Ku cinta DIA
                            Ku sayang DIA
                            Rindu DIA
                            Inginkan DIA
                            Utuhkanlah
                            Rasa cinta dihatiku
                            Hanya padanya
                            Untuk DIA
                            OH TUHAN
                            Ku cinta DIA
                            Ku sayang DIA
                            Rindu DIA
                            Inginkan DIA
                            Utuhkanlah
                            Rasa cinta dihatiku
                            Hanya padanya
                            Untuk DIA
                            Hanya padanya
                            Untuk DIA
                            Hanya Padanya
                            Untuk DIA
                        </pre>

                    </div>


                </div>
                <!-- END PORTLET-->
            </div>


        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->