<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="btn-group">
                <a id="sample_editable_1_new" class="btn sbold red" href="#/new_lyrics/add" > Add New lyrics
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">NEW ALBUMS</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="portlet light tasks-widget">

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="">
                                    <img style="width: 100%;" src="http://www.melon.co.id/image.do?fileuid=/mediaNASF/image/album/201604/10663032_599x599.jpg" onerror="this.src='images/albumart.jpg';" alt="...">

                                    <div style="margin-bottom: 10px;">
                                        <h4 class="profile-desc-title bold" style="margin-bottom: 0px;margin-top: 0px;">Dia</h4>
                                        <span class="profile-desc-text"> Anji </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN MAIN JS-->
<script>



</script>
<!-- BEGIN MAIN JS -->