<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="btn-group">
                <a id="sample_editable_1_new" class="btn sbold red" href="#/new_lyrics/add" > Add New lyrics
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <span class="caption-subject font-blue-madison bold uppercase">New lyrics</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="portlet light tasks-widget">

                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">


                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fit">
                                            <img class="song-pic" src="/images/logo/logo-icon.png">
                                        </td>
                                        <td style="display: grid;">
                                            <a href="javascript:;" class="primary-link">Dia</a>
                                            <a href="javascript:;" class="primary-link">ANJI</a>
                                        </td>
                                    </tr>


                                </table>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN MAIN JS-->
<script>



</script>
<!-- BEGIN MAIN JS -->