<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">MeLyX</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Top Lyrics </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="TopLyricController">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-sidebar">
            <div class="portlet light">
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('top_lyrics.top')}" class="active">
                            <a ui-sref="top_lyrics.top" href="#/top_lyrics/top">
                                <i class="icon-like"></i> Top lyrics </a>
                        </li>
                        <li ng-class="{active: $state.includes('top_lyrics.new')}" class="">
                            <a ui-sref="top_lyrics.new" href="#/top_lyrics/new">
                                 New lyrics </a>
                        </li>
                        <li ng-class="{active: $state.includes('top_lyrics.newAlbums')}" class="">
                            <a ui-sref="top_lyrics.newAlbums" href="#/top_lyrics/newAlbums">
                                 New Albums and Singles </a>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="portlet light">
                    <h4 class="profile-desc-title">MUSIC GENRE LIST</h4>
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li ng-class="{active: $state.includes('top_lyrics.pop')}" class="">
                                <a ui-sref="top_lyrics.pop" href="#/top_lyrics/pop">
                                    POP </a>
                            </li>
                            <li ng-class="{active: $state.includes('top_lyrics.rock')}" class="">
                                <a ui-sref="top_lyrics.rock" href="#/top_lyrics/rock">
                                    ROCK </a>
                            </li>
                            <li ng-class="{active: $state.includes('top_lyrics.jazz')}" class="">
                                <a ui-sref="top_lyrics.jazz" href="#/top_lyrics/jazz">
                                    JAZZ </a>
                            </li>
                            <li ng-class="{active: $state.includes('top_lyrics.rnb')}" class="">
                                <a ui-sref="top_lyrics.rnb" href="#/top_lyrics/rnb">
                                    R&B </a>
                            </li>
                            <li ng-class="{active: $state.includes('top_lyrics.dangdut')}" class="">
                                <a ui-sref="top_lyrics.dangdut" href="#/top_lyrics/dangdut">
                                    DANGDUT </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ui-view class="profile-content fade-in-up"> </div>
        </div>
    </div>



</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>

</script>
<!-- BEGIN MAIN JS & CSS -->