/* here you can put your own css to customize and override the theme */
@charset "UTF-8";

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#silang{
    float: right;
    border: none;
    background: transparent;
    color:white;
}

#headerModal{
    background-color:#e74c3c;
    color: white;
}
#search-form-a{
    margin-bottom: 10px;
    padding-right: 15px;
    float: right;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.upload_s{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
}
.btn-file {
    position: relative;
    overflow: hidden;
    font-size: 25px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
[hidden] {
    display: none !important;
}
.checkMargin{
    margin-top: 10px;
}
#headerTable{
    background-color: #f4f4f4;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    cursor:no-drop;
}

.red{
    color:red;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}
.span-x{
    color: white;
    font-size: 10px;
    padding: 0 2px;
    margin: 0 1px;
}