<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="MetronicApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <title data-ng-bind="'CMS Melon | LOGIN'"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="/extlib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/extlib/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/extlib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/extlib/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/extlib/datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYMANICLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="/css/components-rounded.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/melyx/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/melyx/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/css/melyx/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="/images/logo/logo-icon.png" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body ng-controller="AppController">
<div style="text-align:center; font:bold 32px arial; color:white; padding-top:50px;">
    <img src="/images/logo/melontelkom.png" alt="LOGO" style="width:180px;"/>
    CMS Application
</div>
<div style="padding-top: 5%;">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="modal-body form">
            <form action="#" class="form-horizontal form-row-seperated">
                <div class="form-group" style="border-bottom: none;">

                    <div class="col-md-12">
                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                            <input type="text" class="form-control" ng-keyup="enterLogin($event)" placeholder="UserName" ng-model="userName"/>
                        </div>

                    </div>
                </div>
                <div class="form-group" style="border-bottom: none;">
                    <div class="col-md-12">
                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                            <input type="password" class="form-control"
                                   ng-keyup="enterLogin($event)" placeholder="Password" ng-model="password"/>
                        </div>

                    </div>
                </div>


            </form>
        </div>
        <div class="modal-footer" style="border-top: none;">
            <button type="button" ng-click="login()" class="btn sbold red">Login</button>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>



<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE JQUERY PLUGINS -->
<!--[if lt IE 9]>
<script src="/js/plugin/respond.min.js"></script>
<script src="/js/plugin/excanvas.min.js"></script>
<![endif]-->
<script src="/js/plugin/jquery.min.js" type="text/javascript"></script>
<script src="/js/plugin/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/extlib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/extlib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/extlib/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/extlib/datepicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/js/plugin/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/js/plugin/js.cookie.min.js" type="text/javascript"></script>
<script src="/extlib/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE JQUERY PLUGINS -->
<!-- BEGIN CORE ANGULARJS PLUGINS -->
<script src="/extlib/angularjs/angular.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/angular.audio.js" type="text/javascript"></script>
<script src="/extlib/angularjs/angular-cookies.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/angular-touch.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
<script src="/extlib/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<!-- END CORE ANGULARJS PLUGINS -->
<!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/directives.js" type="text/javascript"></script>
<!-- END APP LEVEL ANGULARJS SCRIPTS -->
<!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
<script src="/js/melyx/app.min.js" type="text/javascript"></script>
<script src="/js/melyx/layout.min.js" type="text/javascript"></script>
<script src="/js/melyx/quick-sidebar.min.js" type="text/javascript"></script>
<script src="/js/melyx/quick-nav.min.js" type="text/javascript"></script>
<script src="/js/melyx/demo.min.js" type="text/javascript"></script>
<!-- END APP LEVEL JQUERY SCRIPTS -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>